@{
    ViewBag.Title = "Page Not Found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <h3 style="text-align: center">@Resources.ResourceError.NotFound</h3>
    <h3 style="text-align: center">@Resources.ResourceError.WeAreWorking</h3>
    <img src="~/Content/Mnemo/images/Error.png" alt="Not found" style="margin-left: auto; margin-right: auto; display: block;">
</div>


