<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
	  throwConfigExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="mylayout" value="${longdate} ${logger} ${message}${exception:format=ToString}"/>

	<targets >
		<target name="ErrorFile" xsi:type="File"
					layout="${mylayout}"
					fileName="${basedir}/log/ErrorFile_${shortdate}.log"
					keepFileOpen="true"
					encoding="utf-8"
			  />
		<target name="TraceFile" xsi:type="File"
				layout="${mylayout}"
				fileName="${basedir}/log/TraceFile_${shortdate}.log"
				keepFileOpen="true"
				encoding="utf-8"
			  />
		<target name="DebugFile" xsi:type="File"
				layout="${mylayout}"
				fileName="${basedir}/log/DebugFile_${shortdate}.log"
				keepFileOpen="true"
				encoding="utf-8"
			  />
	</targets>

	<rules>
		<logger name="*" levels="Error" writeTo="ErrorFile" enabled="true"/>
		<logger name="*" levels="Trace" writeTo="TraceFile" enabled="true"/>
		<logger name="*" levels="Debug" writeTo="DebugFile" enabled="true"/>
	</rules>
</nlog>
