@model CTS_RoleAdmin.CtsUser

<div class="form-group">
	@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
	<div class="col-md-10">
		@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @id = "nameInput" } })
	</div>
</div>

<input type="submit" value="Проверить логин" id="btnCheck" class="btn btn-default">

<script>

	$("#btnCheck").click(function () {
		alert("ccc");
            $.ajax(
            {
                type: "POST", //HTTP POST Method
				url: "Home/RolesForm", // Controller/View
                data: { //Passing data
					userName: $("#nameInput").val() //Reading text box values using Jquery

                }

            });

        });

</script>

