
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageName = Resources.ResourceGeneral.HeaderMainPageName;
}
<div id="home" style="margin-left:0px; margin-top:-25px">
    <div class="welcome">
        <div class="bg"></div>
        <div class="txt">
            <h1>
                добро пожаловать в систему учета угля
                <span>coal tracking system</span>
            </h1>
        </div>
    </div>
</div>