<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>Отчеты</title>
      <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
      <!-- Bootstrap -->
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
      <link href="style/fonts.css" rel="stylesheet">
      <link href="style/style.css" rel="stylesheet">
	  <link href="style/responsive.css" rel="stylesheet">
   </head>
   <body>
      <div class="container-fluid wrapper">
         <div class="header">
     
            <a href="/" class="logo">Логотип</a>
            <div class="user">
               <a href="#">
               ПОЛЬЗОВАТЕЛЬ:
               <span>Тигран Чифликянц</span>
               </a>
            </div>
            <div class="calendar">
               <a href="#">
               17.01.2017
               <span>с 00:00:00 по 16:43:55</span>
               </a>
            </div>
			
			       <div class="name">
               <p>Система учета угля</p>
               <p class="subname"><span>Отчеты</span></p>
            </div>
         </div>
		 
		          <div class="sidebar">
            <div class="lang">
               <a href="/" class="active">Рус</a>
               <a href="#">Eng</a>
            </div>
            <div class="menu">
               <a href="/"><i class="icon icon_1"></i><span>Главная</span></a>
               <a class="active" href="report.html"><i class="icon icon_2"></i><span>Отчеты</span></a>
               <a href="#"><i class="icon icon_3"></i><span>График</span></a>
               <a href="#"><i class="icon icon_4"></i><span>Карта</span></a>
               <a href="#"><i class="icon icon_5"></i><span>Поиск</span></a>
            </div>
         </div>
         <div class="content">
<p class="subname"><span>Отчеты</span></p>
        <div class="main">
		
		<div class="report">
		<div class="doc"><a href="#">сводка по добыче угля</a></div>
		<div class="doc"><a href="#">поставка угля на коксование шахтами</a></div>
		<div class="doc"><a href="#">поставка угля на коксование шахтами</a></div>
		<div class="doc"><a href="#">сводка по добыче угля</a></div>
		<div class="doc"><a href="#">поставка угля на коксование шахтами</a></div>
		<div class="doc"><a href="#">поставка угля на коксование шахтами</a></div>
		<div class="doc"><a href="#">сводка по добыче угля</a></div>
		<div class="doc"><a href="#">поставка угля на коксование шахтами</a></div>
		<div class="doc"><a href="#">поставка угля на коксование шахтами</a></div>
		<div class="doc"><a href="#">сводка по добыче угля</a></div>
		<div class="doc"><a href="#">поставка угля на коксование шахтами</a></div>
		<div class="doc"><a href="#">поставка угля на коксование шахтами</a></div>
		<div class="doc"><a href="#">сводка по добыче угля</a></div>
		<div class="doc"><a href="#">поставка угля на коксование шахтами</a></div>
		<div class="doc"><a href="#">поставка угля на коксование шахтами</a></div>
		<div class="doc"><a href="#">сводка по добыче угля</a></div>
		</div>
		
		
		</div>
         </div>
      </div>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="js/bootstrap.min.js"></script>
   </body>
</html>