<!DOCTYPE html>
<html lang="ru">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" href="images/favicon.ico" type="image/x-icon">
	  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
      <title>ЦОФ Восточная</title>
      <link href="style/pt-sans.css" rel="stylesheet">
      
      <link href="css/bootstrap.min.css" rel="stylesheet">

      <link href="style/fonts.css" rel="stylesheet">
      <link href="style/style.css" rel="stylesheet">
	  <link href="style/responsive.css" rel="stylesheet">
	  <link href="style/jquery.fancybox.min.css" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css" />
   </head>
   <body>
      <div class="container-fluid wrapper">

         <div class="header">
     
            <a href="/" class="logo">Логотип</a>
            <div class="user">
               <a href="#">
               ПОЛЬЗОВАТЕЛЬ:
               <span>Тигран Чифликянц</span>
               </a>
            </div>
            <div class="calendar">
               <a href="#">
               17.01.2017
               <span>с 00:00:00 по 16:43:55</span>
               </a>
            </div>
			
			       <div class="name">
               <p>Система учета угля</p>
               <p class="subname">Главная панель управления <b></b> <span>ЦОФ Восточная</span></p>
            </div>
         </div>
		 
		          <div class="sidebar">
            <div class="lang">
               <a href="#" class="active">Рус</a>
               <a href="#">Eng</a>
            </div>
            
            <div class="menu">
               <ul class="leftmenu reset">
			   <li class="active" ><a href="/"><i class="icon icon_1"></i><span>Главная</span></a>
			   <ul class="submenu lvl-1 reset">
			   <li><a href="#">Шахтинская шахта</a></li>
			   <li><a href="#">Тентекская шахта</a></li>
			   <li><a href="#">Шахта ленина</a></li>
			   <li><a href="#">Казахстанская шахта</a></li>
			   <li><a href="#">Абайская шахта</a></li>
			   <li><a href="#">Шахта Костенко</a></li>
			   <li><a href="#">Шахта Кузембаева </a></li>
			   <li><a href="#">Шахта Саранская-1</a></li>
			   <li><a href="#">Шахта Саранская-3</a></li>
			   <li><a href="#">ЦОФ Восточная</a></li>
			   <li><a href="#">Ст. Абай</a></li>
			   <li><a href="#">Ст. Дубовская </a></li>
			   <li><a href="#">Ст. Распорядительная</a></li>

			   </ul>
			   </li>
               <li><a href="report.html"><i class="icon icon_2"></i><span>Отчеты</span></a></li>
               <li><a href="#"><i class="icon icon_3"></i><span>График</span></a>
			   		   <ul class="submenu lvl-1 reset">
			   <li><a href="#">Шахтинская шахта</a></li>
			   <li><a href="#">Тентекская шахта</a></li>
			   <li><a href="#">Шахта ленина</a></li>
			   <li><a href="#">Казахстанская шахта</a></li>
			   <li><a href="#">Абайская шахта</a></li>
			   <li><a href="#">Шахта Костенко</a></li>
			   <li><a href="#">Шахта Кузембаева </a></li>
			   <li><a href="#">Шахта Саранская-1</a></li>
			   <li><a href="#">Шахта Саранская-3</a></li>
			   <li><a href="#">ЦОФ Восточная</a></li>
			   <li><a href="#">Ст. Абай</a></li>
			   <li><a href="#">Ст. Дубовская </a></li>
			   <li><a href="#">Ст. Распорядительная</a></li>

			   </ul>
			   </li>
               <li><a href="#" ><i class="icon icon_4"></i><span>Карта</span></a></li>
               <li><a href="doc.html"><i class="icon icon_5"></i><span>Справочник</span></a></li>
			   <li><a href="#"><i class="icon icon_6"></i><span>Инциденты</span></a>
			   
			       <ul class="submenu-lvl1 reset">
			   <li><a href="#">инциденты жд</a>
			   <ul class="submenu-lvl2 reset">
			   <li><a href="#">Шахтинская шахта</a></li>
			   <li><a href="#">Тентекская шахта</a></li>
			   <li><a href="#">Шахта ленина</a></li>
			   <li><a href="#">Казахстанская шахта</a></li>
			   <li><a href="#">Абайская шахта</a></li>
			   <li><a href="#">Шахта Костенко</a></li>
			   <li><a href="#">Шахта Кузембаева </a></li>
			   <li><a href="#">Шахта Саранская-1</a></li>
			   <li><a href="#">Шахта Саранская-3</a></li>
			   <li><a href="#">ЦОФ Восточная</a></li>
			   <li><a href="#">Ст. Абай</a></li>
			   <li><a href="#">Ст. Дубовская </a></li>
			   <li><a href="#">Ст. Распорядительная</a></li>

			   </ul>
			   </li>
			   <li><a href="#">инциденты связи</a>
			   <ul class="submenu-lvl2 reset">
			   <li><a href="#">Шахтинская шахта</a></li>
			   <li><a href="#">Тентекская шахта</a></li>
			   <li><a href="#">Шахта ленина</a></li>
			   <li><a href="#">Казахстанская шахта</a></li>
			   <li><a href="#">Абайская шахта</a></li>
			   <li><a href="#">Шахта Костенко</a></li>
			   <li><a href="#">Шахта Кузембаева </a></li>
			   <li><a href="#">Шахта Саранская-1</a></li>
			   <li><a href="#">Шахта Саранская-3</a></li>
			   <li><a href="#">ЦОФ Восточная</a></li>
			   <li><a href="#">Ст. Абай</a></li>
			   <li><a href="#">Ст. Дубовская </a></li>
			   <li><a href="#">Ст. Распорядительная</a></li>

			   </ul>
			   </li>


			   </ul>
			   
			   
			    
			   
			   
			   </li>
			   </ul>
            </div>
         </div>
         <div class="content">
         <p class="subname">Главная панель управления <b></b> <span>ЦОФ Восточная</span></p>
		 <div class="head">
		 <div class="img"> </div>
		 <h1>ЦОФ Восточная</h1>
		 <div class="links">
		  <a href="#" class="info"><i></i><b>Подробнее</b></a>
		 <a href="#" class="video"><i></i><b>Видеонаблюдение</b></a>
		 </div>
		 </div>
		 
		 
		 
		
		 
            <div class="main">
               <div id="tsof2_bg">
			   
			   
			   
			   
			   
			   
				  <div class="block browntitle block_w7" id="tsof2-tsof-1">
                     <div class="title">
                        <i class="icon icon_vagon"></i>
                        <a href="#">ЦОФ Восточная</a>
                        
                     </div>
                     <div class="text">
                        <div class="line">
                           <span class="name">Загружено за смену</span>
                           <div class="count">100</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Загруж. в посл. состав</span>
                           <div class="count">200</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Посл. загруж. состав</span>
                           <div class="count">200</div>
                           <span class="caption">чч:мм</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Кол-во вагонов посл. сост.</span>
                           <div class="count">200</div>
                           <span class="caption">шт.</span>
                           <div class="clearfix"></div>
                        </div>
						
						 <div class="line">
                           <span class="name">Направление посл. сост.</span>
                           <div class="count naprav">COF_Vostochnaya</div>
                      
                           <div class="clearfix"></div>
                        </div>
						</div>
						
						<div class="table text">
						<div class="line-head">
						журнал загрузки вагонов
						</div>
						<table>
						<tr class="odd">
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>60</td>
						<td>83.5</td>
						</tr>
						
							<tr>
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>60</td>
						<td>83.5</td>
						</tr>
						
							<tr  class="odd">
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>59.2</td>
						<td>83.5</td>
						</tr>
						
			
					</table>
						</div>
						
						<div class="text">
                        <div class="result">
                           <div class="res"><span>Недостача угля</span> <i class="red"></i></div>
                           
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
				  
				  
				  
				  
				  <div class="block browntitle block_w7" id="tsof2-tsof-2">
                     <div class="title">
                        <i class="icon icon_vagon"></i>
                        <a href="#">ЦОФ ЮГ-1</a>
                        
                     </div>
                     <div class="text">
                        <div class="line">
                           <span class="name">Загружено за смену</span>
                           <div class="count">100</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Загруж. в посл. состав</span>
                           <div class="count">200</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Посл. загруж. состав</span>
                           <div class="count">200</div>
                           <span class="caption">чч:мм</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Кол-во вагонов посл. сост.</span>
                           <div class="count">200</div>
                           <span class="caption">шт.</span>
                           <div class="clearfix"></div>
                        </div>
						
						 <div class="line">
                           <span class="name">Направление посл. сост.</span>
                           <div class="count naprav">COF_Vostochnaya</div>
                      
                           <div class="clearfix"></div>
                        </div>
						</div>
						
						<div class="table text">
						<div class="line-head">
						журнал загрузки вагонов
						</div>
						<table>
						<tr class="odd">
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>60</td>
						<td>83.5</td>
						</tr>
						
							<tr>
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>60</td>
						<td>83.5</td>
						</tr>
						
							<tr  class="odd">
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>59.2</td>
						<td>83.5</td>
						</tr>
						
				
					</table>
						</div>
						
						<div class="text">
                        <div class="result">
                           <div class="res"><span>Недостача угля</span> <i class="red"></i></div>
                           
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
				  
				  
				  
				  
				  <div class="block browntitle block_w7" id="tsof2-tsof-3">
                     <div class="title">
                        <i class="icon icon_vagon"></i>
                        <a href="#">ЦОФ ЮГ-2</a>
                        
                     </div>
                     <div class="text">
                        <div class="line">
                           <span class="name">Загружено за смену</span>
                           <div class="count">100</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Загруж. в посл. состав</span>
                           <div class="count">200</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Посл. загруж. состав</span>
                           <div class="count">200</div>
                           <span class="caption">чч:мм</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Кол-во вагонов посл. сост.</span>
                           <div class="count">200</div>
                           <span class="caption">шт.</span>
                           <div class="clearfix"></div>
                        </div>
						
						 <div class="line">
                           <span class="name">Направление посл. сост.</span>
                           <div class="count naprav">COF_Vostochnaya</div>
                      
                           <div class="clearfix"></div>
                        </div>
						</div>
						
						<div class="table text">
						<div class="line-head">
						журнал загрузки вагонов
						</div>
						<table>
						<tr class="odd">
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>60</td>
						<td>83.5</td>
						</tr>
						
							<tr>
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>60</td>
						<td>83.5</td>
						</tr>
						
							<tr  class="odd">
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>59.2</td>
						<td>83.5</td>
						</tr>
						
						
					</table>
						</div>
						
						<div class="text">
                        <div class="result">
                           <div class="res"><span>Недостача угля</span> <i class="red"></i></div>
                           
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
				  
				  
				  
				  
				  <div class="block browntitle block_w7" id="tsof2-tsof-4">
                     <div class="title">
                        <i class="icon icon_vagon"></i>
                        <a href="#">ЦОФ ЮГ-1</a>
                        
                     </div>
                     <div class="text">
                        <div class="line">
                           <span class="name">Загружено за смену</span>
                           <div class="count">100</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Загруж. в посл. состав</span>
                           <div class="count">200</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Посл. загруж. состав</span>
                           <div class="count">200</div>
                           <span class="caption">чч:мм</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Кол-во вагонов посл. сост.</span>
                           <div class="count">200</div>
                           <span class="caption">шт.</span>
                           <div class="clearfix"></div>
                        </div>
						
						 <div class="line">
                           <span class="name">Направление посл. сост.</span>
                           <div class="count naprav">COF_Vostochnaya</div>
                      
                           <div class="clearfix"></div>
                        </div>
						</div>
						
						<div class="table text">
						<div class="line-head">
						журнал загрузки вагонов
						</div>
						<table>
						<tr class="odd">
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>60</td>
						<td>83.5</td>
						</tr>
						
							<tr>
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>60</td>
						<td>83.5</td>
						</tr>
						
							<tr  class="odd">
						<td>11:56:01</td>
						<td>5250 1459</td>
						<td>59.2</td>
						<td>83.5</td>
						</tr>
						
				
					</table>
						</div>
						
						<div class="text">
                        <div class="result">
                           <div class="res"><span>Недостача угля</span> <i class="red"></i></div>
                           
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
				  
				  
				   <div class="block purptitle minheight" id="konv-tsof2-1">
                     <div class="title">
                        <i class="icon icon_konv"></i>
                        <a href="#">Конвейер</a>
                        
                     </div>
                     <div class="text">
                        <div class="line">
                           <span class="name">Получено за смену</span>
                           <div class="count">400</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Произв. за неделю</span>
                           <div class="count">200</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
   
                        <div class="result">
                           <div class="res"><span>Недостача угля</span> <i class="yellow"></i></div>
                           <div class="res"><span>Несч. случаи</span> <i class="green"></i></div>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                  </div>
				  
				  
				  <div class="block purp2title minheight" id="kotel-tsof2-1">
                     <div class="title">
                        <i class="icon icon_kotel"></i>
                        <a href="#">Котельная</a>
						</div>
                      <div class="text">
                        <div class="line">
                           <span class="name">Норма потребления</span>
                           <div class="count">220</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Получено угля</span>
                           <div class="count">345</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
   
                        <div class="result">
                           <div class="res"><span>Недостача угля</span> <i class="yellow"></i></div>
                           <div class="res"><span>Несч. случаи</span> <i class="green"></i></div>
                           <div class="clearfix"></div>
                        </div>
                     </div>                       
                     
					 
					 
					 

                  </div>
				  
				  
				   <div class="block black2" id="tsof2-stone1">
                     <div class="title">
                       <i class="icon icon_kamni"></i>
                        <a href="#">Ст. Абайская</a>
                        
                     </div>
                     <div class="text">
                        <div class="line">
                           <span class="name">Ушло концентрата</span>
                           <div class="count">200</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
                        <div class="line">
                           <span class="name">Ушло пром.продукта</span>
                           <div class="count">200</div>
                           <span class="caption">тонн</span>
                           <div class="clearfix"></div>
                        </div>
   
                    
                     </div>
                  </div>
				  
				  
				  
			<div class="buttons buttons-horz horz-arrow" id="btn_tsof2_kot-1">
				<a href="#" title="Весы" class="libra green">Весы</a>
				<a href="#" title="Направление" class="arrow-down green">Стрелка</a>
			</div>
				  
		<a href="tsof2-more.html" class="btn-more" id="tsof2-btn-more">Подробно</a>
				  
				  
               </div>
            </div>
         </div>
      </div>
      
      <script src="js/jquery.min.js"></script>
      
      <script src="js/bootstrap.min.js"></script>
	  <script src="js/jquery.knob.min.js"></script>
	  <script src="js/jquery.fancybox.min.js"></script>
	  <script>
            $(function($) {
				jQuery(".photo").fancybox({
				buttons : [
				'slideShow',
				'fullScreen',
				'thumbs',
				//'share',
				'download',
				'zoom',
				'close'
    ],
	thumbs: {
        autoStart: true, // Display thumbnails on opening

    },

				});
                $(".knob").knob();

            });
        </script>
		 <script type="text/javascript" src="tooltipster/dist/js/tooltipster.bundle.min.js"></script>
	  
	    <script>
	jQuery(function() {
jQuery('.tooltip-block').tooltipster({
   animation: 'fade',
	contentCloning: true,
contentAsHTML: true,
arrow: false,
		interactive: true,
   trigger: 'click',
   		
}).click(function(){
return false;
});





jQuery('[title]').tooltipster({

side: ["right", "top"],

   		
});



});
    </script>
   </body>
</html>