
@model CTS_Analytics.Models.Mnemonic.StationGeneral


<div class="block black2" id="tsof-st1">
    <div class="title">
        <i class="icon icon_st"></i>
        <a href="#">Ст. Распорядительная</a>

    </div>
    <div class="text">
        <div class="line">
            <span class="name">Ушло концентрата</span>
            <div class="count">200</div>
            <span class="caption">тонн</span>
            <div class="clearfix"></div>
        </div>
        <div class="line">
            <span class="name">Ушло пром.продукта</span>
            <div class="count">200</div>
            <span class="caption">тонн</span>
            <div class="clearfix"></div>
        </div>


    </div>
</div>
