<div id="comp-jcpqrmwtbg" class="style-jcpt98ylbg">
    </div>
<div id="comp-jcpqrmwtinlineContent" class="style-jcpt98ylinlineContent">
    <div class="txtNew" id="comp-jcpqsfbt" style="top: 0px; left: 4px; width: 118px; position: absolute;">
    <h2 class="font_2" style="font-size:16px;"><a href="https://www.ela.kz/kopiya-main-dash-2" target="_self">
        <span style="color:#000000;"><span style="text-decoration:underline;"><span style="font-size:16px;">
            <span style="font-family:open sans condensed,sans-serif;">SHAKHTINSKAYA&nbsp;MINE</span>
              </span>
             </span>
            </span>
          </a>
        </h2>
        </div>
    <div data-exact-height="15" data-content-padding-horizontal="0" data-content-padding-vertical="0" title="" class="wp2" id="comp-jcprr0xf" style="top: 3px; left: 182px; width: 15px; height: 15px; position: absolute;">
    <a href="https://www.ela.kz/kopiya-main-dash" target="_self" id="comp-jcprr0xflink" class="wp2link" style="width: 15px; height: 15px; cursor: pointer;">
        <div data-style="" class="wp2img" id="comp-jcprr0xfimg" style="position: relative; width: 15px; height: 15px;">
        <div class="wp2imgpreloader" id="comp-jcprr0xfimgpreloader">
            </div>
        <img id="comp-jcprr0xfimgimage" alt="" data-type="image" style="width: 15px; height: 15px; object-fit: cover;" src="https://static.wixstatic.com/media/6363e1_00675d59860f403fa0b22ccb07bed422~mv2.png/v1/fill/w_15,h_15,al_c,usm_0.66_1.00_0.01/6363e1_00675d59860f403fa0b22ccb07bed422~mv2.png">
            </div>
        </a>
        </div>
</div>
    <div data-exact-height="15" data-content-padding-horizontal="0" data-content-padding-vertical="0" title="" class="wp2" id="comp-jcprr0xf" style="top: 3px; left: 182px; width: 15px; height: 15px; position: absolute;">
    <a href="https://www.ela.kz/kopiya-main-dash" target="_self" id="comp-jcprr0xflink" class="wp2link" style="width: 15px; height: 15px; cursor: pointer;">
        <div data-style="" class="wp2img" id="comp-jcprr0xfimg" style="position: relative; width: 15px; height: 15px;"><div class="wp2imgpreloader" id="comp-jcprr0xfimgpreloader">
                     </div>
        <img id="comp-jcprr0xfimgimage" alt="" data-type="image" style="width: 15px; height: 15px; object-fit: cover;" src="https://static.wixstatic.com/media/6363e1_00675d59860f403fa0b22ccb07bed422~mv2.png/v1/fill/w_15,h_15,al_c,usm_0.66_1.00_0.01/6363e1_00675d59860f403fa0b22ccb07bed422~mv2.png">
                                                    
            </div>
        </a>
        </div>
</div>
<div id="comp-jcpqv28abg" class="style-jcpqrqpzbg">
    </div><div id="comp-jcpqv28ainlineContent" class="style-jcpqrqpzinlineContent">
    <div class="txtNew" id="comp-jcpr2g6s" style="top: 6px; left: 4px; width: 118px; position: absolute;"><h2 class="font_2" style="font-size:14px;"><span style="font-size:14px;"><span style="color:#000000;"><span style="font-family:open sans condensed,sans-serif;">Production plan</span></span></span></h2></div><div class="style-j7hlnjvg" id="comp-jcpr5bbx" style="left: 104px; width: 55px; position: absolute; top: 35px; height: 20px;"><div id="comp-jcpr5bbxbg" class="style-j7hlnjvgbg"></div><div id="comp-jcpr5bbxinlineContent" class="style-j7hlnjvginlineContent"><div class="txtNew" id="comp-jcpr5bcy" style="top: 0px; left: 3px; width: 103px; position: absolute;"><h2 class="font_2" style="font-size:14px;"><span style="font-size:14px;"><span style="color:#000000;"><span style="font-family:open sans condensed,sans-serif;">200 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;tons</span></span></span></h2></div></div></div><div class="txtNew" id="comp-jcpr5bby" style="left: 4px; width: 118px; position: absolute; top: 35px;"><h2 class="font_2" style="font-size:14px;"><span style="font-size:14px;"><span style="color:#000000;"><span style="font-family:open sans condensed,sans-serif;">Production fact</span></span></span></h2></div><div class="style-j7hlnjvg" id="comp-jcpr8ax7" style="left: 104px; width: 55px; position: absolute; top: 62px; height: 20px;"><div id="comp-jcpr8ax7bg" class="style-j7hlnjvgbg"></div><div id="comp-jcpr8ax7inlineContent" class="style-j7hlnjvginlineContent"><div class="txtNew" id="comp-jcpr8ay4" style="top: 0px; left: 3px; width: 103px; position: absolute;"><h2 class="font_2" style="font-size:14px;"><span style="font-size:14px;"><span style="color:#000000;"><span style="font-family:open sans condensed,sans-serif;">120 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;tons</span></span></span></h2></div></div></div><div class="txtNew" id="comp-jcpr8ax8" style="left: 4px; width: 118px; position: absolute; top: 62px;"><h2 class="font_2" style="font-size:14px;"><span style="font-size:14px;"><span style="color:#000000;"><span style="font-family:open sans condensed,sans-serif;">Shipped</span></span></span></h2></div><div class="txtNew" id="comp-jcprc147" style="left: 4px; width: 118px; position: absolute; top: 90px;"><h2 class="font_2" style="font-size:14px;"><span style="font-size:14px;"><span style="color:#000000;"><span style="font-family:open sans condensed,sans-serif;">On stockpile</span></span></span></h2></div><div class="style-j7hlnjvg" id="comp-jcprc146" style="left: 104px; width: 55px; position: absolute; top: 90px; height: 20px;"><div id="comp-jcprc146bg" class="style-j7hlnjvgbg"></div><div id="comp-jcprc146inlineContent" class="style-j7hlnjvginlineContent"><div class="txtNew" id="comp-jcprc14v" style="top: 0px; left: 3px; width: 103px; position: absolute;"><h2 class="font_2" style="font-size:14px;"><span style="font-size:14px;"><span style="color:#000000;"><span style="font-family:open sans condensed,sans-serif;">1280&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;tons</span></span></span></h2></div></div></div><div class="style-jcpqrqpz" id="comp-jcprcswx" style="left: 0px; width: 239px; position: absolute; top: 116px; height: 29px;">
        <div id="comp-jcprcswxbg" class="style-jcpqrqpzbg"></div><div id="comp-jcprcswxinlineContent" class="style-jcpqrqpzinlineContent">
            <div class="txtNew" id="comp-jcpredw5" style="top: 4px; left: 4px; width: 118px; position: absolute;"><h2 class="font_2" style="font-size:14px;"><span style="font-size:14px;"><span style="color:#000000;"><span style="font-family:open sans condensed,sans-serif;">Coal incidents</span></span></span></h2></div><div data-svg-id="svgshape.v2.Svg_ee4bffd911964b128ae38a7a1b233026" data-display-mode="stretch" data-strokewidth="0" data-viewbox="ignore" class="style-jcps1dos" id="comp-jcprgeb7" style="top: 2px; left: 71px; width: 18px; height: 23px; position: absolute;">
                <div class="style-jcps1dos_comp-jcprgeb7 style-jcps1dossvg" id="comp-jcprgeb7svg" style="fill-opacity: 1; stroke-width: 0; stroke: rgb(237, 21, 102); stroke-opacity: 1; fill: rgb(214, 16, 67);">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="9.80078125 1 40.3984375 58" role="img" style="stroke-width: 0px; width: 18px; height: 23px;" preserveAspectRatio="none">
                        <g>
                            <path d="M30 59L9.8 29.1 30 1l20.2 28.1L30 59z"></path>
                        </g>
                    </svg>
                </div><a href="https://www.ela.kz/kopiya-main-dash" target="_self" id="comp-jcprgeb7link" class="style-jcps1doslink" style="cursor: pointer;"></a>
            </div><div class="txtNew" id="comp-jcprgwat" style="top: 4px; left: 119px; width: 118px; position: absolute;"><h2 class="font_2" style="font-size:14px;"><span style="font-size:14px;"><span style="color:#000000;"><span style="font-family:open sans condensed,sans-serif;">HSE&nbsp;incidents</span></span></span></h2></div><div data-svg-id="svgshape.v2.Svg_ee4bffd911964b128ae38a7a1b233026" data-display-mode="stretch" data-strokewidth="0" data-viewbox="ignore" class="style-jcprhidt" id="comp-jcprh98y" style="top: 2px; left: 187px; width: 18px; height: 23px; position: absolute;">
                <div class="style-jcprhidt_comp-jcprh98y style-jcprhidtsvg" id="comp-jcprh98ysvg" style="fill-opacity: 1; stroke-width: 0; stroke: rgb(237, 21, 102); stroke-opacity: 1; fill: rgb(160, 207, 156);">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="9.80078125 1 40.3984375 58" role="img" style="stroke-width: 0px; width: 18px; height: 23px;" preserveAspectRatio="none">
                        <g>
                            <path d="M30 59L9.8 29.1 30 1l20.2 28.1L30 59z"></path>
                        </g>
                    </svg>
                </div><div id="comp-jcprh98ylink" class="style-jcprhidtlink"></div>
            </div>
        </div>
    </div>
</div>
