
@{
    ViewBag.PageName = Resources.ResourceDashboard.PageName;

    if(ViewBag.LocationID.ToLower().Contains("alarms"))
    {
        Layout = "~/Views/DashBoard/_AlarmLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/DashBoard/_DashLayout.cshtml";
    }
       }
<h2>@ViewBag.LocationName</h2>
@{ 
    var urlString = ViewBag.LocationID + "_" + Resources.ResourceGeneral.CurrentLang;
}

<iframe src="http://@Request.Url.Host:3000/dashboard/db/@urlString?orgId=1&kiosk&from=1514743200000&to=1546279199999&theme=light" width="100%" onload="resizeIframe(this)" height="1200" frameborder="0" scrolling="no" id="ifrm"></iframe>