@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageName = Resources.ResourceMnemonic.Thesaurus;
    ViewBag.PageSubName = Resources.ResourceMnemonic.KuzMineName;
}

<p class="subname"><span>Справочник</span></p>
<div class="main">

    <div class="sprav">

        <h2>
            <h2>@Resources.ResourceMineInfo.ShahTitle</h2>
        </h2>

        <div class="anounce">
            <div class="txt">
                @Resources.ResourceMineInfo.ShahShortDescr
            </div>

            <div class="pic">
                <img src="~/Content/Mnemo/pic/shahtinskaya.jpg" alt="" />
            </div>

        </div>



        <br>
        <p>
            @Resources.ResourceMineInfo.ShahHistory
        </p>
        <br>
        <br>
        <p>
            @Resources.ResourceMineInfo.SarDescr
        </p>

    </div>


</div>