.title-not-link
{
	margin-left:30px;
}

#goTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

    #goTopBtn:hover {
        background-color: #555;
    }

.form-horizontal
{
	max-width : 98%;
}

.filter-element {
    margin-right: 30px;
}