<?xml version="1.0">
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="CentralDBConnection" connectionString="Data Source=10.21.199.28;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient" 
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="kuz" connectionString="Data Source=10.21.208.69\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="kost" connectionString="Data Source=10.21.208.5\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="sar1" connectionString="Data Source=10.21.208.133\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="abay" connectionString="Data Source=10.21.210.5\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="sar3" connectionString="Data Source=10.21.209.132\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="shah" connectionString="Data Source=10.21.210.133\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="tent" connectionString="Data Source=10.21.211.5\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="len" connectionString="Data Source=10.21.210.69\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="kaz" connectionString="Data Source=10.21.210.197\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="sabay" connectionString="Data Source=10.21.209.4\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="sdub" connectionString="Data Source=10.21.209.68\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="srasp" connectionString="Data Source= 10.21.208.196\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="cofv" connectionString="Data Source=10.21.209.197\SQLEXPRESS;Initial Catalog=CoalTracking;Persist Security Info=True;User ID=sa;Password=Aaaa-1111" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="WagonDB" connectionString="Data Source=10.21.199.28;Initial catalog=WagonDB;persist security info=True;user id=sa;password=Aaaa-1111;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <serviceParameters>
    <!-- timer interval in minutes -->
    <add name="timerDBSynce" code="1"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="timerSkipWeight" code="240"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </serviceParameters>
</configuration>