@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Россия, 620102,<br />
    Свердловская область, г. Екатеринбург<br />
    л. Гурзуфская 18 оф 29-42<br />

</address>

<address>

</address>